
#contact {
  background-color: var(--background-color);
  color: var(--primary-color);

  text-align: center;
}

#contact h2 {
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-item {
  width: 25%;
  text-align: center;
  margin-bottom: 40px;
}

.contact-item i {
  color:var(--primary-color);
  margin-bottom: 20px;
}

.contact-item a {
  color: var(--primary-color);
  font-size: 1.2em;
  text-decoration: none;
}

.contact-item i:hover {
  box-shadow: 0px 0px 20px 20px #d8b85980;
  background-color: #d8b85980;

}
    body, main, section {
        background-color: #1C1C1C !important;
        color: #FFFFFF !important;
    }

    p, a, h1, h2, h3, h4, h5, h6, div, span, li {
        color: #FFFFFF !important;
    }

    .intro-section, .about-paragraph, .work-item, .education-card {
        background-color: #2C2C2C !important;
        box-shadow: 0 0 15px #00FFFF;
    }


    hr {
        border-color: #00FFFF !important;
    }
    