
/* Section Headings */
#projects-heading {
    text-align: center;
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin: 20px 0;
}

/* Container Styles */
.projects-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}

/* Project List Container */
#project-list-container {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

/* Grid Layout for Project Cards */
#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Project Card Styling */
.project-card {
    background-color: var(--navbar-bg-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    color: var(--text-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
}

.project-card .date {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--list-color);
    color: var(--secondary-color);
    padding: 5px 12px;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-card p.desc {
    flex-grow: 1;
}

/* Consistent Tag List Placement */
.project-card .tag-list {
    margin-top: auto;
}

/* Hover Effects for Project Card */
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Project Title */
.project-card h2 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    color: var(--text-color);
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--navbar-bg-color);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.modal-header h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.modal-header .close {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
}

/* Modal Body */
.modal-body {
    display: flex;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
    color: var(--muted-text-color);
}

/* Carousel Styling */
.carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Media items (images and videos) */
.carousel-item img,
.carousel-item video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/* Article Links */
.carousel-item a {
    font-size: 1em;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.carousel-item a:hover {
    text-decoration: underline;
}

/* Carousel Label */
.carousel-label {
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 3px;
    font-size: 0.9em;
}

.carousel-label.clickable {
    cursor: pointer;
    text-decoration: underline;
}

/* Carousel Navigation Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    color: #fff;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Links */
.modal .links a {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--navbar-bg-color);
    color: var(--secondary-color);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid var(--secondary-color);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal .links a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 10px var(--secondary-color);
}

/* View Article Button */
.view-article-button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--navbar-bg-color);
    color: var(--secondary-color);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid var(--secondary-color);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;

}

.view-article-button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 10px var(--secondary-color);

}

/* Responsive Design */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        max-width: none;
        padding: 15px;
    }

    .modal-body {
        flex-direction: column;
    }

    .carousel-item img, .carousel-item video {
        height: 200px;
    }

    .project-card .date {
        font-size: 0.8rem;
        padding: 4px 10px;
    }

    .modal .links a {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}
