/* Work Experience Section */
#work-experience {
    padding: 20px;
}

/* Work Cards Container */
.work-cards {
    width: 100%;
}

/* Work Card Styling */
.work-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 30px 0;
    border-radius: 15px;
    background-size: contain; /* Adjust to contain logo size */
    background-repeat: no-repeat;
    background-position: center right; /* Image on the right for left-aligned text */
    position: relative;
    overflow: hidden;
    background-color: black; /* Background for the dark side */
}

/* Reverse the layout for alternating cards */
.work-card.reverse {
    justify-content: flex-end;
    background-position: center left; /* Image on the left for right-aligned text */
}

/* Gradient Overlay */
.work-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Gradient from left to right */
    z-index: 1;
}

.work-card.reverse::before {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Gradient from right to left */
}

/* Work Info */
.work-info-left, .work-info-right {
    position: relative;
    z-index: 2; /* Content above gradient */
    padding: 30px;
    width: 50%; /* Text takes 50% of the card */
    color: var(--text-color); /* White text */
}

.work-info-left h3, .work-info-right h3 {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--secondary-color); /* Neon pink */
}


.work-info-left p, .work-info-right p {
    font-size: 24px;
}


.job-title {
    color: var(--primary-color); /* Apply the primary color to job titles */
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0 10px; /* Add some spacing */
}

.duration {
    color: var(--primary-color); 
    font-size: 18px;
    margin: 5px 0 10px; /* Add some spacing */
}

/* Skill Tags */
#workskill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.worktag {
    background-color: var(--secondary-color); /* Neon pink */
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 18px;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .work-card {
        flex-direction: column;
        height: auto;
    }

    .work-card.reverse {
        flex-direction: column;
    }

    .work-info-left, .work-info-right {
        width: 100%;
        padding: 20px;
    }
}
